// footer
.no-fullpage {
  & .footer {
    position: static;
    top: 0;
    &::before {
      display: none;
    }
  }
}

// hero earth
.no-fullpage {
  & .hero-earth {
    display: block;
    height: 100%;
    top: 0;
    transform: translateY(0);
    position: relative;
    &::after {
      display: block;
      margin: 0;
      position: absolute;
      top: calc(50% - 295px);
      left: calc(50% - 295px);
      // transform: translate not working
    }
  }
}
@include media-breakpoint-down(sm) {
  .no-fullpage {
    & .hero-earth {
      &::after {
        top: calc(50% - 225px);
        left: calc(50% - 225px);
        // transform: translate not working
      }
    }
  }
}
@include media-breakpoint-down(xs) {
  .no-fullpage {
    & .hero-earth {
      &::after {
        top: calc(50% - 150px);
        left: calc(50% - 150px);
        // transform: translate not working
      }
    }
  }
}

// home
.no-fullpage {
  // section-home
  & .section-home {
    height: 900px;
    background-image: none;
  }
  // section-who-you-are
  & .section-who-you-are {
    height: 900px;
    background-color: #34334d;
  }
  & .who-you-are {
    padding-top: 170px;
  }
  // section-who-we-are
  & .section-who-we-are {
    height: 900px;
    background-color: #423e3d;
  }
  // section-what-we-do
  & .section-what-we-do {
    height: 900px;
    background-color: #532d2d;
  }
  & .what-we-do {
    padding-top: 170px;
  }
  // section-how-we-do-it
  & .section-how-we-do-it {
    height: 900px;
    background-color: #364a49;
  }
}